extends ./layouts/_default

block content
  .row-fluid#about
    .col-md-12.text-center
      h1 'B' Jarvi
      h2 Executive Director
      img.well#b-photo(src='/images/b_jarvi.jpg', alt='B Jarvi')
      ul.text-left#qualifications
        li Nationally Certified Registered Guardian
        li Native Elder Issues Committee Charter Member
        li Governer Appointment to Statewide Independent Living Council
        li Greater Fairbanks Chamber of Commerce member
        li Alaska resident for 26 years
