extends ./layouts/_default

block content
  .row-fluid#about
    .col-md-12.text-center
      h1 Jon and Constance Lindsey
      h2 Executive Directors
      img.well#b-photo(src='/images/jon_and_constance_lindsey.jpg', alt='Jon and Constance Lindsey')
      ul.text-left#qualifications
        li Nationally Certified Registered Guardian
        li Alaska residents for 29 years
