extends ./layouts/_default

block content
  .row-fluid#about
    .col-md-12.text-center
      img.well#b-photo(src='/images/jon_and_constance_lindsey.jpg', alt='Jon and Constance Lindsey')
      ul.text-left#qualifications
        li
          h2 Constance Lindsey
          i Executive Director
          div
            i Nationally Certified Registered Guardian
        li
          h2 Jon Lindsey
          i Assistant Director
      div
        h3 Alaska residents for 29 years
