extends ./layouts/_default

block content
  #contact.text-center
    i.fa.fa-2x.fa-phone.contact-item &nbsp;<b>907-458-8222</b>
    br
    i.fa.fa-2x.fa-fax.contact-item &nbsp;<b>907-458-8282</b> (fax)
    br
    a(href='mailto:info@advocacyalaska.com')
      i.fa.fa-2x.fa-envelope &nbsp;<b>info@advocacyalaska.com</b>
    br
    .address.well.well-sm
      h3 416 7th Ave
      h3 Fairbanks, AK  99701
    .map.well
      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1696.0287654558833!2d-147.71873150000002!3d64.843689!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x513245488de097ab%3A0x4ef64c7aedeae5e8!2s416+7th+Ave+%2C+Fairbanks%2C+AK+99701!5e0!3m2!1sen!2sus!4v1416261523095", width="600", height="450", frameborder="0", style="border:0")


