extends ./layouts/_default

block content
  .asak-marketing
    row-fluid.asak-marketing-charms
      div.col-md-4.purse
        img.asak-charm(src='images/purse.svg')
        h2 Fees are nominal
      div.col-md-4
        img.asak-charm(src='images/thumb.svg')
        h2 Insured: commercial and professional
      div.col-md-4.cert
        img.asak-charm(src='images/cert.svg')
        h2 Fully licensed
    row-fluid.asak-marketing-charms
      div.col-md-12
        img.asak-charm-lg(src='images/public.svg')
        h2 Bondable
        h2 Statutory preference
        h2 Licensed guardian performs all guardianships and conservatorships
          sup.h4 &dagger;
    row-fluid.asak-marketing-charms
      div.col-md-6
        img.asak-charm(src='images/cabin.svg')
        h2 Local office
      div.col-md-6
        img.asak-charm(src='images/phone24.svg')
        h2 24-hr answering service
    row.disclaimers
      div.col-md-12
        sup.h4 &dagger;
          span.h4  We recommend that you hire an attorney of your choice to represent you in these and other legal matters
