extends ./layouts/_default

block content
  .row-fluid.pricing-table
    .col-md-4
      .panel.panel-info
        .panel-heading
          h3.text-center Conservator
        .panel-body.text-center
          h3.lead.strong $50/hour
    .col-md-4
      .panel.panel-danger
        .panel-heading
          h3.text-center Representative Payee
        .panel-body.text-center
          h3.lead.strong $90/monthly
          hr
          p Effective Jan. 1, 2015
    .col-md-4
      .panel.panel-success
        .panel-heading
          h3.text-center Guardian
        .panel-body.text-center
          h3.lead.strong $50/hour
