extends ./layouts/_default

block content
  #services
    h1 Court Appointed Services
      h2 Guardianships
      p Guardianship is a court appointed legal arrangement where a person or institution is appointed as a guardian to make decisions for an incapacitated person – decisions about housing, medical care, legal issues, and services.
      p Guardianships can be tailored to meet individual case needs. The guardianship can be limited in scope and duration.
      h2 Conservatorships
      p Conservatorship is a court appointed legal arrangement where a person or institution is appointed to handle the financial affairs for another person. The conservator collects and deposits all income, pays all debts and bills, secures all assets, and handles taxes and insurance. A person appointed as guardian may also be appointed as conservator, or a separate conservator can be appointed.
      p Conservatorships can be tailored to meet specific needs.
      p.disclaimer.well Both Guardianships and Conservatorships require court appointment and are subject to court oversight.
      h2 Personal Representation
      p Court appointed to manage the distribution of a descendant’s estate according to the terms of a trust or will, creditors last expenses of illness, distribution of assets, and final accounting.
      h2 Special Administrator
      p A special administrator appointed by the registrar in informal proceedings has the duty to collect and manage the assets of the estate, to preserve them, to account and deliver them to the general personal representative upon qualification.
      p A special administrator appointed by order of the court in any formal proceeding has the power of a general personal representative except as limited in the appointment and duties as prescribed in the order. The appointment may be for a specified time. To perform particular acts, or other terms as the court may direct.
      br
      hr
      br
    h1 Non-Court Appointed Services
      h2 Power of Attorney
      p Power of Attorney can be very broad or extremely limited.
        ul
          li <b>General:</b> A person must be able to direct the specific duties of the attorney of fact. If its grantor dies or becomes incapacitated, it is no longer in effect.
          li <b>Durable:</b> Continues beyond a finding of incapacity.
          li <b>Springing:</b> Begins at the time of a formal finding of incapacity.
      p These do not require a court appointment and are revocable.
      h2 Trustee Services
      ul
        li Medicaid Qualifying Trusts
        li Estate Trustee Services
      h2 Representative Payee
      p A representative payee is an individual or organization that receives Veterans Administration, Social Security and/or SSI payments or other federal funds, for someone who cannot manage or direct the management of his/her money. Payees should use the funds for the current and foreseeable needs of the beneficiary and save any remaining funds for the beneficiary’s future use. A court appointment is not needed for this service and it is completely revocable.
      h2 Financial Representative
      ul
        li Bill Paying
        li Financial Record Keeping
      h2.disclaimer.well
        .title We are not:
        p
          ul
            li We are not attorneys and cannot represent you in court.
            li We are not a state “public expense” agency.
            li We are not affiliated with any other agency.
